@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
    --color-principal: #1f2d3d;
    --color-secundario: #D65db1;
    --color-gris: #b0b0b0;

}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cotenedor--objetos{
    
    padding: 0 2rem ;
    padding-bottom: 35px;
}
.contenido--de--empleados{
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin: 0 1rem;
}
.espaciado{
    padding-bottom: 1.5rem;
}
.contenido--de--empleados div:first-child{
    border-bottom: 2px solid var(--color-gris);
    height: 4rem;
    display: flex; 
    align-items: center;
    padding: 2rem 0;
}
.button{
    height: 2rem;
    margin-left: 2.5rem;
    background-color: var(--color-principal);
    color: #fff;
    padding: 0.2rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}
.button:hover{
    transform: scale(1.025);
}


.inputs{
    display: flex;
    padding-top: 1.5rem;

}

.contenido--de--empleados input{
    font-size: 13px;
    border: 2px solid var(--color-gris);
    margin: auto;
    padding: 0.3rem 1rem;
    width: 20rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.contenido--de--empleados input:focus{
    border: 2px solid var(--color-principal);
}

.tabla--empleados--contenedor{
    padding: 1rem 2.5rem;
    display: flex;
}
.empleados--tabla{
    
    border-collapse: collapse;
    margin: auto;
    margin-top: 2rem;
}
.empleados--tabla th, td {
    padding: 0.5rem;
    text-align: start;
    font-size: 0.9rem;
    width: 13rem;
}
tr {
    border-bottom: 2px solid var(--color-gris);
}
.button--tabla{
    margin: 0;
    margin-right: 0.6rem;
    display: inline;
    
}
.modal, .modal--editar{

    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw; 
    z-index: 20;
    background-color: #111111bd;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100vh);
    transition: all 0.5s ease-in-out;
    border-radius: 0 0 50% 50%;
}
.modal--view{
    transform: translate(0);
    opacity: 1;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    
}
.contenedor--modal{
    margin: 5rem auto;
    height: 27.5rem;
    width: 30rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
}
.contenedor--modal h2{
    text-align: center;
    padding: 0.7rem 0;
    color: #fff;
    background-color: var(--color-principal);
    border-radius: 10px 10px 0 0;
}
.contenedor--modal form{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;;
}
.contenedor--modal form div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor--modal form div i{
    font-size: 1.5rem;
    margin-right: 0.6rem;
}
.contenedor--modal form input{

    font-size: 13px;
    margin: 1rem;
    width: 20rem;
    padding: 0.4rem 1rem;
    border: 2px solid var(--color-gris) ;
    border-radius: 10px;

}

.contenedor--botones{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.5rem 0;
}
.button--form{
    margin: 0;
    margin-right: 1.5rem;
}

.button--form--cancelar{
    font-weight: 700;
    background-color: #fff;
    color: var(--color-principal);
    border: 2px solid var(--color-principal);
}
.tabla--proveedores--contenedor{
    padding: 1rem 0;
}
/*
.tabla--proveedores--contenedor th:nth-child(5){
    width: 1rem !important;
}
*/
.proveedores--tabla{
    margin: 2rem;
    border-collapse: collapse;
    margin-top: 2rem;
}
.proveedores--tabla th{   
    text-align: start;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
}
.proveedores--tabla td{   
    text-align: start;
    font-size: 0.8rem;
}
.ajustable{
    width: auto; 
}
.tabla--activo{
    padding: 0.5rem 0;
    border-radius: 40rem;
    background-color: rgb(35, 231, 51);
    color: #fff;
    display: block;
    width: 5.5rem;
    text-align: center;
    margin-right: 0.5rem;
}
.tabla--ausente{
    padding: 0.5rem 0;
    border-radius: 40rem;
    background-color: rgb(231, 130, 35);
    color: #fff;
    display: block;
    width: 5.5rem;
    text-align: center;
    margin-right: 0.5rem;
}
.tabla--eliminado{
    padding: 0.5rem 0;
    border-radius: 40rem;
    background-color: rgb(231, 35, 35);
    color: #fff;
    display: block;
    width: 5.5rem;
    text-align: center;
    margin-right: 0.5rem;
}