@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
    --color-principal: #1f2d3d;
    --color-secundario: #1f2d3d;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.contenedor{
    height: 100vh;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.contenedor--formulario{
    display: flex;
    background-color: #ffffff;
    height: 70%;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0,0.15);
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 0;

}
.contenido--mover{
    display: flex;
    height: 100%;
    width: 50%;
    border-radius: 100px 0 0 100px;
    background-color: var(--color-principal);
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    position: absolute;
    left: 50%;
    overflow: hidden;
}

.logearse{

    height: 100%;
    width: 50%;
    padding: 3rem 4rem;
    position: absolute;
    transition: all 0.6s ease-in-out;
}


.logearse .centrador {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.centrador div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
    
    
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    font-size: 2.4rem;
    margin: 0 0 0 0;
    
    
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
div form{
    display: inline-block;
    padding: 0 0px;
    width: 100%;

}
input{
    display: inline-block;
    width: 100%;
margin-bottom: 3px;
    padding: 8px 40px;
    border-radius: 10px;
    background-color: rgb(237, 237, 237, 0.5);    ;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 4px 0;
}
ul li i{
    transition: scale 0.5s ease-in-out;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0,0.35);

}

ul li i:hover{
    color: var(--color-principal);
    scale: calc(1.1);
}

.contenedor--registrarse ul li i:hover{
    color: var(--color-secundario);
    scale: calc(1.1);
}

.button {
    display: block;
    background-color: var(--color-principal);
    color: #f0f8ff;
    font-size: 1rem;
    border-radius: 10px;
    width: 160px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    border: none;
    padding: 5px 15px;
    margin-top: 35px;
    cursor: pointer;
}
.button:hover{
    background-color: var(--color-secundario);
    width: 100%;
    scale: calc(1.05);
}
.button--segundo:hover{
    background-color: var(--color-principal);
    width: 100%;
    scale: calc(1.05);
}

.dao {
    position: absolute;
    left: 0.9rem;
    top: .7rem;
    color: var(--color-principal);
    transition: all 0.6s ease-in-out;
}
form div {
    margin-bottom: 10px;
    position: relative;
}
.contenido--mover div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 80%;
    position: absolute;
    justify-content: center;

}
.contenido--mover h2 {

    color: #fff;
    letter-spacing: 2px;
    margin-top: 1rem;
}
.contenido--mover p {
    color: #fff;
    text-align: center;
    width: 20rem;
    font-size: 0.7rem;
    margin-bottom: 2rem;
}
.button_mover{
    background: var(--color-principal);
    border-radius:8px;
    padding: 5px 40px;
    margin-bottom: 2rem;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}

.button_mover:hover {
    scale: calc(1.05);
}
/*par*/
.contenedor--registrarse{
    transition: all 0.6s ease-in-out;
    opacity: 0;
    z-index: 15;
}
.contenedor--sesion{
    transition: all 0.6s ease-in-out;
    opacity: 0;
    z-index: 15;
}
.contenedor--registrarse--activar{
    transform: translateX(100%);
    opacity: 1;
    
}
.contenedor--sesion--activar{
    transform: translateX(-100%);
    opacity: 1;
    border-radius: 0 100px 100px 0;
    background-color: var(--color-secundario);
}

/*parte*/
.contenedor--iniciar--sesion{
    transition: all 0.6s ease-in-out;
    z-index: 20;
    
}
.contenedor--registro {
    transition: all 0.6s ease-in-out;
    z-index: 20;
}

.contenedor--iniciar--sesion--activar{
    transform: translateX(100%);
    opacity: 0;
    z-index: 10;
}
.contenedor--registro--activar{
    transform: translateX(-100%);
    opacity: 0;
    z-index: 10;
}
/*cambio*/
.coloreado--fondo{
    background-color: var(--color-secundario);
}
.coloreado--texto{
    color: var(--color-secundario);
}

.centrador a{
    text-decoration: none;
}
.boton_login{
    height: 20px;
    width: 100%;
    border: 1px solid black;
}
.input_bordes{
    border: 2px solid rgb(255, 255, 255);
    
}

.input_error{
    border: 2px solid red;
    animation: mover_error 0.5s ease-in-out;
}
.input_error:focus{
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.6);
}

@keyframes mover_error {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translateX(0);
        
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
}

