@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
    --color-principal: #1f2d3d;
    --color-secundario: #D65db1;
    --color-gris: #DBDEE3;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    overflow: hidden;
}

.barralateral{
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem;
    height: 100vh;
    padding: 0 0 0 0.5rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0,0.25);
    z-index: 20;
}
.barralateral-mini{
    width: 4.6rem;
    transition: 0.3;
    
}
.barralateral:hover{
    width: 15rem;
    transition: 0.3;
}
.barralateral:hover .text{
    opacity: 100%;
}

.menu{
    height: 100%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu div{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    height: 3.5rem;
    width: 100%;
    border-bottom: 1px solid #cacaca;
    align-items: center;
    
}
.menu div i{
    border-bottom: 1px solid #ededed;
    margin-left: 0.6rem;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: var(--color-principal);
}
.menu div:first-child span{
    transition: all 0.5s ease-in-out;
    margin-left: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.menu div:nth-child(2) span{
    transition: all 0.5s ease-in-out;

    margin-left: 1rem;
    font-size: 0.8rem;
    
}
.menu div:nth-child(2){
    margin-bottom: 2rem;
}
.menu div img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 0.6rem;
}

.text{
    overflow: hidden;
    opacity: 100%;
    transition: all 0.5s ease;
    
}
.menu a{
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px 0;
    padding-left: 15px;
    border-radius: 50px -0 0 50px;
    text-align: center;

}
.menu li{
    padding-right: 0;
    margin: 0.5rem 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    

}

.menu li:hover a{
    background-color: white;
    color: var(--color-principal);
    
}
.activo {
    background-color: #fff;
    color: var(--color-principal) !important;
}

.menuDes{

    opacity: 0;
}

.menu a i{
    font-size: 1.3rem;
    width: 2rem;
    
    margin-left: 0.1rem;
}

.desplegable{
    padding: 1rem;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 32px; 
}

.des {
    transition: transform 0.5s ease-in-out;
    
}

.des2 {
    transform: rotate(180deg);
}
.config{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*header*/

.contenedor--cabecera{
    display: flex;
    height: 3.5rem;
    position: sticky;
    background-color: var(--color-principal);
    align-items: center;
    margin-left: 4.6rem;
    color: #7e7e7e;
    
    padding-left: 11.5rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.15);

}
.contenedor--cabecera--movimiento{
    padding: 1rem;
}

.contenedor--cabecera i{
    font-size: 1.4rem;
    display: inline-block;
    cursor: pointer;
    padding:0.5rem 0;
    
    
}
.contenedor--cabecera span{
    font-size: 2rem;
    display: inline-block;
}
.contenedor--cabecera--contenido{
    width: 100%;
    display: flex;
    justify-content: start;
}
#sis{
    font-size: 1.4rem;
    padding: 0.2rem;
    color: #7e7e7e;
    margin-left: 1rem;
}
.contenedor--cabecera--contenido div{

    display: flex;
    align-items: center;
    justify-content: center;
}
/*contenido principal*/
.contenido--principal{
    background: #ffffff;
    height: 100%;
    margin-left: 15rem;
    transition: all 0.3s ease-in-out;
    overflow: auto;
}
.contenido--flexible{
    margin-left: 4.6rem;
}
.contenedor--objetos{
    scrollbar-gutter: stable;
    padding: 0 2.5rem;
    padding-top: 0;
    height: 100%;
    overflow: auto;
    padding-bottom: 100px !important;
}
.contenedor--objetos ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;

}
.contenedor--objetos li{
    height: 80px;
    width: 250px;
    margin: 1rem 0.5rem;  
    list-style: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0,0.15);
    display: flex;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    justify-self: center;
}
.contenedor--objetos li:hover{
    transform: scale(1.05);
}
.contenedor--objetos li i{
    grid-row: 1/3;
    font-size: 35px;
    color: #fff;
    transition: all 0.5s ease-in-out !important;
    text-align: center;
    padding: 22px;
    width: 80px;
    border-radius: 10px;
    
}
.contenedor--objetos li:hover i{
    transform: rotate(45deg);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0,0.5);
    
}
.primer--texto{
    align-self: end;
    font-size: 1rem;
}
.segundo--texto{
    font-size: 1.3rem;
    align-self: start;

}
.contenedor--objetos li span{
    padding: 0 1rem;
    color: #fff;
}
h3{
    color: #393939;
    padding: 0.9rem 0.4rem;
    height: 3.6rem;
}
/*card*/
.contenedor--objetos ul li:nth-child(1) i{
    background-color: #00757A;
}
.contenedor--objetos ul li:nth-child(1){
    background-color: #008789;
}
.contenedor--objetos ul li:nth-child(2) i{
    background-color: #0c4bff;
}
.contenedor--objetos ul li:nth-child(2){
    background-color: #2f78ff;
}

.contenedor--objetos ul li:nth-child(4) i{
    background-color: #0083d4;
}
.contenedor--objetos ul li:nth-child(4){
    background-color: #00a7fa;
}

.contenedor--objetos ul li:nth-child(3) i{
    background-color: #00c02b;
}
.contenedor--objetos ul li:nth-child(3){
    background-color: #00fa3e;
}

.contenedor--objetos ul li:nth-child(5) i{
    background-color: #fa7000;
}
.contenedor--objetos ul li:nth-child(5){
    background-color: #ff8b0a;
}
.contenedor--objetos ul li:nth-child(7) i{
    background-color: #ff2323;
}
.contenedor--objetos ul li:nth-child(7){
    background-color: #ff5757;
}
.contenedor--objetos ul li:nth-child(6) i{
    background-color: #d5294d;
}
.contenedor--objetos ul li:nth-child(6){
    background-color: #ea546c;
}
.contenedor--objetos ul li:nth-child(8) i{
    background-color: #a68b02;
}
.contenedor--objetos ul li:nth-child(8){
    background-color: #d1bf00;
}
.contenedor--objetos ul li:nth-child(9) i{
    background-color: #007b00;
}
.contenedor--objetos ul li:nth-child(9){
    background-color: #009f04;
}
.contenedor--objetos ul li:nth-child(10) i{
    background-color: #7d28c8;
}
.contenedor--objetos ul li:nth-child(10){
    background-color: #8a2be2;
}
.contenedor--objetos ul li:nth-child(11) i{
    background-color: #e51951;
}
.contenedor--objetos ul li:nth-child(11){
    background-color: #f83b66;
}
.contenedor--objetos ul li:nth-child(12) i{
    background-color: #079a91;
}
.contenedor--objetos ul li:nth-child(12){
    background-color: #0cc0b1;
}
.contenedor--objetos ul li:nth-child(13) i{
    background-color: #6a6a6a;
}
.contenedor--objetos ul li:nth-child(13){
    background-color: #818181;
}

.contenedor--objetos ul li:nth-child(14) i{
    background-color: #800020;
}
.contenedor--objetos ul li:nth-child(14){
    background-color: #e7003a;
}

.contenedor--objetos ul li:nth-child(15) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(15){
    background-color: #fe4711;
}
.contenedor--objetos ul li:nth-child(16) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(16){
    background-color: #fe4711;
}

.contenedor--objetos ul li:nth-child(17) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(17){
    background-color: #fe4711;
}
.contenedor--objetos ul li:nth-child(18) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(18){
    background-color: #fe4711;
}

.contenedor--objetos ul li:nth-child(19) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(19){
    background-color: #fe4711;
}

.contenedor--objetos ul li:nth-child(20) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(20){
    background-color: #fe4711;
}

.contenedor--objetos ul li:nth-child(21) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(21){
    background-color: #fe4711;
}

.contenedor--objetos ul li:nth-child(22) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(22){
    background-color: #fe4711;
}

.contenedor--objetos ul li:nth-child(23) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(23){
    background-color: #fe4711;
}

.contenedor--objetos ul li:nth-child(24) i{
    background-color: #9d190f;
}
.contenedor--objetos ul li:nth-child(24){
    background-color: #fe4711;
}

/*estilos de configuraciones*/

.contenido--configuraciones{
    
    box-shadow: 0px 5px 15px rgba(0, 0, 0,0.25);
    padding: 1.5rem 3rem;
    padding-bottom: 2.5rem;
    
}


.contenido--configuraciones input{
    border: 2px solid var(--color-gris);
    margin-left: 0.5rem;
    width: 90%;
    padding: 0.5rem;
    padding-left: 1rem;
}

.contenido--configuraciones label{
    display: block;
    margin-left: 0.45rem;
    margin-bottom: 0.3rem;
}

.contenido--configuraciones input:focus{
    border: 2px solid var(--color-principal);
}

.contenido--configuraciones h2{
    
    margin-bottom: 1rem;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border-top: 10px solid var(--color-principal);
    gap: 1rem;
    
}

.contenido--configuraciones div{
    padding: 0.6rem;
}
.imagens{
    grid-column: 1 / 3 ;
}

.imagens input{
    width: 100%;
    border: none;
}
.contenido--configuraciones img{
    width: 30%;
    border-radius: 50%;
    border: 5px outset var(--color-principal);
    padding: 0.4rem;
    transition: all 0.5s ease-in-out;
}
.contenido--configuraciones img:hover {
    transform: scale(1.05);
}


.centrado--img{
    display: flex;
    justify-content: center;
}
.button--register{
    height: 2rem;
    grid-column: 2/3;
    background-color: var(--color-principal);
    color: #fff;
    padding: 0.2rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 40%;
    justify-self: right;
    margin: 1rem;
}
.color_agregado {
    background-color: var(--color-principal) !important;
}
.fuente_comun{
    font-size: 25px;
    padding: 0;
    margin: 18px 0px 0px 0;
    font-weight: 300;
}
.needs-validation input:focus {
    box-shadow: none;
    border: 2px solid var(--color-principal);
}
.Contenedor_Nombres{
    display: flex;
    flex-direction: column;
    margin: 0px !important;
    justify-content: center;
    align-items: start !important;
}
.Caja{
    display: flex ;
    flex-direction: column;
    justify-content: center;
}
.Caja_icon{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_exit{
    padding-right: 20px;
    color: #1f2d3d;
}
.Ventana_bloqueo{
    width: 100px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 155, 181);
    
}
#Ventana_bloqueo div {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Ventana_bloqueo img {
    width: 300px;
    margin-right: 35px;
    
}
#Ventana_bloqueo span {
    display: block;
    font-weight: 900;
    font-size: 30px;
    color: #f0f8ff;

}

@media (max-width: 850px) {
    #Ventana_bloqueo{
        display: flex;
    }
}