@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
    --color-principal: #845EC2;
    --color-secundario: #D65db1;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
}

.barralateral{
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 90vh;
    padding: 0 0 0 1rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: var(--color-principal);
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    position: sticky;

}
.barralateral-mini{
    width: 105px;
    transition: 0.3;
}


.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 10px 0;
    padding-left: 15px;
    border-radius: 50px -0 0 50px;
    text-align: center;
    

}
.menu li{
    padding: 0.3rem;
    padding-right: 0;
    margin:0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover a{
    background-color: white;
    color: var(--color-principal);
    
}
.activo {
    background-color: #fff;
    color: var(--color-principal) !important;
}
.text{
    overflow: hidden;
    opacity: 100%;
    transition: all 0.5s ease;
    
}
.menuDes{
    opacity: 0;
}

.menu a i{
    font-size: 1.2rem;
    padding-left: 0.2rem;
}
.config{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
.desplegable{
    padding: 1rem;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 36px; 
}

.des {
    transition: transform 0.5s ease-in-out;
    
}

.des2 {
    transform: rotate(180deg);
}

/*contenido principal*/
.contenido--principal{
    background: #ffff;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.contenedor--cabecera{
    display: flex;
    height: 10vh;
    position: sticky;
    background-color: var(--color-principal);
    align-items: center;

    color: #fff;
}
.contenedor--cabecera i{
    margin-left: 1.8rem;
    margin-right: 1rem;
    font-size: 3rem;
    display: inline-block;
    
}
.contenedor--cabecera span{
    font-size: 2rem;
    display: inline-block;
}
.contenedor--cabecera--contenido{
    width: 100%;
    display: flex;
    justify-content: start;
}
.contenedor--cabecera--contenido div{

    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor--cabecera--contenido div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 15px;
}
.main{
    display: flex;
    height: 90vh;
    background-color: #ffffff;
    overflow: auto;
    
}

.contenedor--objetos{
    border: 1px solid red;
    padding: 1.5rem 1rem;

}
.contenedor--objetos ul{
    display: flex;
    flex-wrap: wrap;
}
.contenedor--objetos ul li{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 2rem;
    list-style: none;
}